.product-details {
  margin-top: 64px;
  margin-bottom: 0;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-details-info h6 {
  margin-bottom: 20px !important;
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 100%;
  /* Full width for mobile */
  margin-bottom: 20px;
  /* Add margin at the bottom for spacing */
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: rgb(3, 4, 3);
  font-weight: bold;
}

.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
  transform: scale(0.9);
}

.similar-products .card-img-top {
  height: auto;
  /* Adjust height for mobile */
  max-height: 300px;
}

.productDetails {
  background: linear-gradient(to right, #b8b1b9, #11d7c7);
}

/* Laptop View */
@media (min-width: 769px) {
  .similar-products .card {
    width: 18rem;
    /* Original width for laptop */
    margin-bottom: 0;
    /* Remove margin at the bottom */
  }

  .similar-products .card-img-top {
    height: 300px !important;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .product-details {
    margin-top: 32px;
  }

  .similar-products .card-img-top {
    height: auto;
    /* Adjust height for smaller screens */
    max-height: 200px;
  }

  .similar-products button {
    font-size: 12px;
    /* Smaller font size for buttons on mobile */
  }
}